@import '../../utils/utils.scss';

.container {
    max-width: 600px;
    width: 100%;
    min-width: 250px; // ? минимально-читаемый размер блока
    max-width: $messages-container-width;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 0 1.125rem;
}