.mainContainer{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    padding-top: 20px;
}
.form{display: flex;
    flex-direction: column;
    width: 80%;
    background-color: rgba(128, 128, 128, 0.4);
    border-radius: 10px;}
.formLabel{
    background-color: inherit;
}