@import '../../utils/utils.scss';

.container {
padding: .3125rem .5rem .375rem;
background: rgb(255,255,255);
font-size: var(16px, 1rem);
border-radius: 0.75rem;
};
.list{position: relative;}
.item{
margin-bottom: 15px;
&__check {position: absolute;
    height: 100%;
    top: 0;
    background-color: white;}
&:last-child{margin-bottom: 0;}
}
.buttonLink{
    outline: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 40px;
    border: 0;
    line-height: 1.2;
    cursor: pointer;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    transition: background-color .15s,color .15s;
    text-decoration: none !important;

    margin-top: 8px;
    padding: .4375rem;
    background: rgba(90, 110, 70, 0.6);
    border-radius: 0.375rem;
    color: #ffffff;
    font-weight: 500;
    text-transform: none;
    &:hover, &:focus {background-color: rgba(90, 110, 70, 0.3);}
}
.buttonLinkRight {
    @extend .buttonLink;
    margin-left: 8px;}

.buttonLinkExpanded{
 @extend .buttonLink;
 min-width: 100%;  
}
.text {
    display: flex;
    margin: 0;
    word-break: break-word;
    line-height: 1.3125;
    text-align: initial;
    unicode-bidi: plaintext;}

.textSuccess {margin-top: 15px;
    font-size: 20px;
    margin-bottom: 10px;}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 4px;
    overflow: hidden;
}

.btnLinkInfo{color: $color-links;
background: inherit;
outline: none;
border: none;
cursor: pointer;
text-decoration: underline;}

.info {text-align: left;}

.containerBtnControl {display: flex;
justify-content: space-between;
max-width: 100%;}

