:root {--app-height: 100vh}

.containerApp {
  display: flex;
  align-items: flex-end;
  min-height: var(--app-height);
  max-height: var(--app-height);
  overflow: auto;
  text-align: center;
  background-image: url(https://web.telegram.org/z/chat-bg.f607e788298d8a7de37a..jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 1024px) {
  .containerApp {
  min-height: 100vh;
  }
}
