.container {
  display: flex;
  align-items: flex-end;
  min-height: 100vh;
  text-align: center;
  background-image: url(https://web.telegram.org/z/chat-bg.f607e788298d8a7de37a..jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
